* {
	margin: 0;
	padding: 0;
}

HTML, BODY {
	font-family: Arial, sans-serif;
	min-height:100%;
	height: 100%;
}

BODY, TD, TH {
	color: #159dc3;
}

ul {
	list-style:none;
}

@font-face {
    font-family: 'CenturyGothicRegular';
    src: url('../fonts/gothic.eot');
    src: url('../fonts/gothic.eot') format('embedded-opentype'),
         url('../fonts/gothic.woff') format('woff'),
         url('../fonts/gothic.ttf') format('truetype'),
         url('../fonts/gothic.svg#CenturyGothicRegular') format('svg');
}

@font-face {
    font-family: 'CenturyGothicBold';
    src: url('../fonts/gothicb.eot');
    src: url('../fonts/gothicb.eot') format('embedded-opentype'),
         url('../fonts/gothicb.woff') format('woff'),
         url('../fonts/gothicb.ttf') format('truetype'),
         url('../fonts/gothicb.svg#CenturyGothicBold') format('svg');
}

A {
	text-decoration: none;
}

.b {
	font-weight: bold; }

.u {
	text-decoration: underline;
}

#nav {
	position: fixed;
	display: none;
	width: 100%;
	height: 1200px;
	top: 0;
	padding-top: 150px;
	overflow: hidden;
	background-color: rgba(0,0,0, 0.9);
	z-index: -1;
}

#nav li {
	opacity: 0;
	font-size: 1.2em;
}

#nav li.uppr0,
#nav li.uppr1,
#nav li.uppr2,
#nav li.uppr3,
#nav li.uppr4 {
	opacity: 1;
	transition-duration: 1s;
}

#nav li a {
	display: block;
	color: #adadad;
	text-align: left;
	padding: 30px 0 30px calc(5% + 50px);

		-o-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
}

#nav li:before {
	content: "";
	z-index: -1;
	position: absolute;
	width: 100%;
  	height: 55px;
	left: 5%;
	background: url(../img/icon_across.svg) no-repeat;
	background-position-y: bottom;

		-o-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;

		-webkit-transform-origin: 17px 38px;
		-moz-transform-origin: 17px 38px;
		-o-transform-origin: 17px 38px;
		-ms-transform-origin: 17px 38px;
		transform-origin: 17px 38px;
}

#nav li.acti a {
	color: #fff;
}

#nav li.acti:before {
	z-index: -1;
	position: absolute;
	width: 100%;
  	height: 55px;
	padding-left: calc(5% + 50px);
	background: url(../img/icon_across_hover.svg) no-repeat;
	background-position-y: bottom;
}

/* rotate the icon menu name 360 degrees: hover */

#nav li:hover:before {
		-o-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);

		-webkit-transform-origin: 17px 38px;
		-moz-transform-origin: 17px 38px;
		-o-transform-origin: 17px 38px;
		-ms-transform-origin: 17px 38px;
		transform-origin: 17px 38px;
	}

#nav li:hover a {
	color: #fff;
}

#menu_mobile {
	padding-right: 30px;
}

.menu-icon {
	float: right;
	text-align: right;
	width: 30%;
	cursor: pointer;
	padding: 13px 0;
	z-index: 999;
}

.menu-icon span {
	font-weight: normal;
	font-size: 0.7em;
	color: #5a5a5a;
	display: block;
	margin: -40px 15px 0 0;

		-webkit-transform-origin: 100% 0;
		-moz-transform-origin: 100% 0;
		-o-transform-origin: 100% 0;
		-ms-transform-origin: 100% 0;
		transform-origin: 100% 70%;

		-moz-transform: rotate(270deg); /* Firefox */
		-ms-transform: rotate(270deg); /* IE */
		-webkit-transform: rotate(270deg); /* Safari, Chrome, iOS */
		-o-transform: rotate(270deg); /* Opera */
		transform: rotate(270deg);
}

.anim0 {
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		transition: transform 0.2s;
}

.anim1 {
		opacity: 0;
}

.anim2 {
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
		transition: transform 0.2s;
}

.cls-1, .cls-3 {
		transition: transform 0.2s; }

.cls-1 {
		transform-origin: 16px 15px; }

.cls-2 {
		transition: opacity 0.1s; }

.cls-3 {
		transform-origin: 13.5px 22px; }

.nav-wrap {
	display: none;
	background: #313131;
	margin: 0;
	float: right;
	right: 0;
	top: 0;
	position: absolute;
	height: 0;
	width: 100%;
}

.small {
	font-size: 0.8em;
}

#ahead {
	position: fixed;
	text-align: center;
	height: 65px;
	display: block;
	color: #159dc3;
	z-index: 1020;
	font-weight: bold;
	font-size: 0.9em;
	width: 100%;
	z-index: 9996;
	background: #000;
}

.top_head {
	width: 30%;
}

.top_head li {
	float: left;
	line-height: 65px;
	border-left: 1px solid #3c3c3c;
	float: right;
}

.top_head li.logotype {
	font-size: 2.0em;
	padding-right: 20px;
	text-align: left;
	float: left;
	border: none;
	overflow: hidden;
	width: 220px;
}

.top_head li.logotype a {
	line-height: 48px;
	padding: 0;
	float: left;
	color: #fff;
}

.top_head li.logotype a:hover {
	background: none;
	border: none;
}

.top_head a {
	display: inline-block;
	padding: 0 25px;
	height: 61px;
	color: #fff;
}

.top_head svg {
	margin: 13px 10px 0 0;
	display: inline;
}

.top_head span {
	display: block;
	float: right;
	vertical-align: top;
}

.top_head p {
	font-size: 0.3em;
	color: #919191;
	line-height: 0;
	margin: 0;
}

noindex:-o-prefocus, #ahead p  {
	line-height: 1px;
}

.top_head a:hover {
	background: #1d88a3;
	border-bottom: 4px solid #1d88a3;
	color: #fff;
}

.top_head .active {
	background: #159dc3;
	color: #dddddd;
}

#line {
	position: absolute;
	height: 6px;
	display: block;
	background-color: #3a3a3a;
}

.top_head .line {
	position: absolute;
	top: 0;
	left: 0;
	height: 6px;
	width: 100px;
	display: block;
	background-color: #fff;
	z-index: 99999;
}

#logo {
	position: absolute;
	display: block;
	background: url(../images/logo_ichor.png) no-repeat center;
	z-index: 998;
	top: 110px;
	left: 12%;
	height: 150px;
	width: 150px;
	text-align: center;
}

.slogan {
	position: absolute;
	left: calc(50% - 160px);
	bottom: 90%;
	z-index: 998;
}

.slogan h1 {
	color: #fff;
	letter-spacing: 0.04em;
}

.slogan h2 {
	line-height: 25px;
	color: #000;
	letter-spacing: 0.28em;
}

.slogan p {
	font-family: 'CenturyGothicRegular', 'Arial', sans-serif;
	line-height: 2em;
	color: #f0f0f0;
	font-size: 1.0em;
	letter-spacing: 0.01em;
}

#container {
	display: block;
}

#home, #portfolio, #services, #about {
	overflow: hidden;
	border-bottom: 1px solid #d8d8d8;
}


@media only screen and (min-width: 620px) and (max-width: 975px) {
	.nav-wrap{
	display: block;
	background: #313131;
	}
}

@media only screen and (min-width: 978px) and (max-width: 1090px) {
	.top_head li {
	font-size: 0.8em; }

	.top_head li:first-child {
	font-size: 1.9em;
	}
}

@media only screen  and (min-width: 620px) and (max-width: 960px) and (max-height: 300px) {
	.slogan {
    margin: 5% auto;
	}
}

@media only screen  and (min-width: 620px) and (max-width: 960px) and (min-height: 300px) and (max-height: 600px) {
	.slogan {
    margin: 14% auto;
	}
}

@media only screen  and (min-width: 620px) and (max-width: 960px) and (min-height: 600px) {
	.slogan {
    margin: 25% auto;
	}
}

@media only screen and (min-width: 960px) and (max-width: 1200px) {

	.slogan h1 {
	font-size: 4.5em; }

	.slogan h2 {
	font-size: 1.4em; }

	.slogan p {
	padding: 70px 20% 0 20%;
	font-size: 1.0em; }

	.top_head {
	width: 95%;
	}
}

@media only screen and (min-width: 960px) and (max-width: 1200px) and (max-height: 600px) {
	.slogan {
    margin: 7% auto; }

}

@media only screen and (min-width: 960px) and (max-width: 1200px) and (min-height: 600px) and (max-height: 800px) {
	.slogan {
    margin: 15% auto; }

}

@media only screen and (min-width: 960px) and (max-width: 1200px) and (min-height: 800px) {
	.slogan {
    margin: 20% auto; }
}

@media only screen and (min-width: 1200px) {

	.slogan h1 {
		font-weight: bold;
	font-size: 4em; }

	.slogan h2 {
	font-size: 1em; }

	.slogan p {
	padding-top: 5em;
	font-size: 1.2em;
	}

}

@media only screen and (min-width: 1200px) and (max-height: 600px) {

	.slogan {
    margin: 40% auto; }
}

@media only screen and (min-width: 1200px) and (min-height: 600px) and (max-height: 800px) {

	.slogan {
    margin: 40% auto; }
}

@media only screen and (min-width: 1200px) and (min-height: 800px) {

	.slogan {
    margin: 40% auto; }
}


@media only screen and (max-width: 1020px) {

}

@media only screen and (min-width: 960px) {
		.top_head {
	width: 90%; }

	.top_head li.logotype {
	padding-left: 5%;
	}

	figcaption h1 {
	padding: 10% 10% 0 10%;
	line-height: 1.2em;
	font-size: 0.9em; }
}

@media only screen and (max-width: 960px) {

	.top_head li.logotype {
	padding-left: 15%;
	}

	figcaption h1 {
	color: #159dc3;
	padding: 0 10% 0 10%;
	line-height: 1.2em;
	font-size: 0.8em;
	text-transform: uppercase; }
}

@media only screen and (min-width: 690px) {

}

@media only screen and (max-width: 690px) {

}

/* Ðàçðåøåíèå 1200px */

@media only screen and (min-width: 1400px) {

}
